ion-content {
  background: linear-gradient(rgba(255,255,255, .95), rgba(255,255,255,.95)), url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTg_h1gD0qb2UcqTvGrIOKfOJ9-TI76qgmfJciY19k_4q2NliSd3D8nb0Q);
    font-family: 'Play', sans-serif !important;
}

.upcoming {
  font-size: 20px;
  letter-spacing: 0px;
  margin-top: 15px;
  font-family: 'Play', sans-serif;
}

.profile {
    height: 80px !important;
  background: -webkit-linear-gradient(rgba(255,255,255, .99), rgba(255,255,255, .01));
  background: -o-linear-gradient(rgba(255,255,255, .99), rgba(255,255,255, .01));
  background: linear-gradient(rgba(255,255,255, .99), rgba(255,255,255, .01));
}

.smallPic {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin-bottom: 10px;
}

[nav-view]  {
  font-family: 'Play', sans-serif;
}

[nav-view] > .item {
  font-family: 'Play', sans-serif;
} 

.dash-logo {
  text-align: center;

}

p {
font-family: 'Play', sans-serif;
}

h1 {
font-family: 'Play', sans-serif;
}

.log-header {
  font-family: 'Monofett', cursive;
  text-shadow: 10px 100px 3px rgba(0,0,0, .5);
  font-size: 50px;
  }

.dash-header {
    font-family: 'Monofett', cursive;
  font-size: 30px;
  color: rgba(0,0,0, .9);
    text-align: center;
    margin-left: 90px;
    letter-spacing: 7px;
}

.main-logo {
  font-family: 'Monofett', cursive;
  font-size: 22px;
  margin-top: 50px;
}

.message-name {
  font-style: bold;
  display: inline;
}

.message-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.main-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px rgba(0,0,0, .4);
}

[nav-view-transition][nav-view-direction] [modal-view-transition] [modal-view-direction]{
   background-color: transparent;
 }

.modal-backdrop {
	background-color: transparent;
}

.tabs {
	background-color: #ef473a;
}

.tabcolor i {
  color: white;
}

.tabcolor span {
 color: white;
}

.padding, .had-header {
font-family: 'Play', sans-serif;
}

/*MODAL SLIDE*/

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

ion-content.event-detail-container.scroll-content.ionic-scroll {
  margin-top: 94%;
}

.myMessage {
  background-color: rgba(52, 152, 219,.2);
  border-radius: 5px;
}

.event-list {
  margin-top: 28%
}

.greetbox {
  margin-left: 10%;
  
}

.cal-header {
font-family: 'Play', sans-serif;
}

ion-item.slider-pager-page:only-of-type{
display:none;
}

input[type="text"]::-webkit-input-placeholder {
font-family: 'Play', sans-serif;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
font-family: 'Play', sans-serif;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Play', sans-serif;
}

input[type="text"]:-ms-input-placeholder {  
font-family: 'Play', sans-serif;
}

.dashList {
  margin-top: 80px !important;
}
