ion-content {
  /*background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSRajQgfYJhxhtV4J9X5XwkZTHmeApmLiRbu8BbXY6X_d3nODLrB9hbAo4) no-repeat center / cover fixed*/
}

.smallPic {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin-bottom: 10px;
}

[nav-view]  {
  font-family: 'Sarpanch', cursive;
}

[nav-view] > .item {
    font-family: 'Sarpanch', cursive;
} 

.dash-logo {
  text-align: center;

}

p {
    font-family: 'Sarpanch', cursive;
}

h1 {
      font-family: 'Sarpanch', cursive;
}

.log-header {
  font-family: 'Monofett', cursive;
  text-shadow: 10px 100px 3px rgba(0,0,0, .5);
  font-size: 50px;
  }

.dash-header {
    font-family: 'Monofett', cursive;
  text-shadow: 1px 40px rgba(50,0,200, .9), 1px 20px rgba(200,0,0, .7);
  font-size: 30px;
  color: rgba(0,0,0, .9);
    text-align: center;
    margin-left: 90px;
}

.main-logo {
  font-family: 'Monofett', cursive;
  font-size: 22px;
  margin-top: 50px;
}

/*.eventDash {
  padding-top: 100px;
}*/

nav {
  margin-bottom: 60px;
}

.item {
  background: ;
}

.message-name {
  font-style: bold;
}

.message-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.main-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px rgba(0,0,0, .4);
}

.myMessage {
	background-color: rgba(0,0,230,.1);
  border-radius: 5px;
}

[nav-view-transition][nav-view-direction] [modal-view-transition] [modal-view-direction]{
   background-color: transparent;
 }

.modal-backdrop {
	background-color: transparent;
}

.tabs {
	background-color: #ef473a;
}

.tabcolor i {
  color: white;
}

.tabcolor span {
 color: white;
}

.padding, .had-header {
  font-family: 'Sarpanch', cursive;
/*    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0, .9)),
    url('https://upload.wikimedia.org/wikipedia/commons/8/89/The_Band_(1969).png')
    no-repeat center / cover fixed*/
}

/*MODAL SLIDE*/

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

ion-content.event-detail-container.scroll-content.ionic-scroll {
  margin-top: 94%;
}

.profile {
  /*height: 50px;*/
  /*background: linear-gradient(rgba(100, 20, 20, .7), rgba(100, 20, 20, .7)), url(http://i.imgur.com/Nr8t4RN.jpg) no-repeat top / cover fixed*/
}

.event-list {
  margin-top: 28%
}

.greetbox {
  margin-left: 10%;
  
}

.cal-header {
  font-family: 'Sarpanch', cursive;
}

ion-item.slider-pager-page:only-of-type{
display:none;
}

input[type="text"]::-webkit-input-placeholder {
    font-family: 'Sarpanch', cursive;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
      font-family: 'Sarpanch', cursive;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Sarpanch', cursive;
}

input[type="text"]:-ms-input-placeholder {  
     font-family: 'Sarpanch', cursive;
}

.bar { background-image: none !important; }

.dashitems {
  /*background-color: #1e90ff;*/
  /*color: rgba(255,255,255, .8);*/
}
