
<ion-view view-title="{{chat}}">
  <ion-content class="padding">
	<ion-list>
		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in messages">
			<h1>{{ message.name }}</h1>
			<p>{{ message.message }}</p>
		</ion-item>
	</ion-list>
		<label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input ng-model="message" type="text" placeholder="type message">
	  </label>
	  <button ng-click="addMessage(message)" class="button button-calm">
			  Send
		</button>
  </ion-content>
</ion-view>
