<ion-view view-title="{{ band }} Chat">
<ion-header-bar class="bar-stable bar-subheader">
	<div ng-repeat="member in members"></div>
</ion-header-bar>
  <ion-content class="padding">
	<!-- <ion-list class="list-borderless" ng-if="visible"> -->
		<ion-item ng-if="message.band == band" ng-class="{ myMessage: message.name == name}" class="animated fadeIn item-remove-animate item-avatar item-text-wrap item-icon-right" ng-repeat="message in messagez">
			<img ng-if="message.userImage" class="message-img" src="{{ message.userImage }}">
			<img ng-if="!message.userImage" class="message-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
			<!-- <i ng-click="liked = !liked" class="icon ion-android-favorite-outline"></i> -->
			<h5 class="message-name">{{ message.name }}</h5>
			<p>{{ message.message }}</p>
		</ion-item>
	<!-- </ion-list> -->
	
  </ion-content>
   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
        <input type="text" placeholder="Send Message..." on-return="sendMessage(); closeKeyboard()" ng-model="message" on-focus="inputUp(); scroll()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="addMessage(message, name, band, userArray[0].image)">
        Send
      </button>
</ion-footer-bar>
</ion-view>
