<ion-view view-title="Band Chats">
  <ion-content>
    <ion-list>

      <ion-item ng-repeat="band in bandz">
        <a href="#/tab/bands/{{band.bandName}}"><h1>{{ band.bandName }}</h1></a>
      </ion-item>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/band/{{band.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <h1>{{ bands }}</h1>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
