<ion-view view-title="{{ band }} Chat">
  <ion-content class="padding">
	<ion-list class="list-borderless" ng-if="visible" ng-repeat="message in messagez track by $index">
		<div ng-if="message.band == band" >
			<div class="timeRow">
				<div class="col col-50 col-offset-33 timeStamp">
					<div>{{message.newTime}}</div>
				</div>
			</div>
			<ion-item ng-class="{ myMessage: message.name == name}" class="message item-avatar item-text-wrap item-icon-right item-borderless">
				<img ng-show="vm.isImageVisible"  ng-if="message.userImage" class="message-img" src="{{ message.userImage }}" imageonLoad>
				<img ng-if="!message.userImage" class="message-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
				<div class="row">
					<div class="col-100 col">
						<p class="message-name">{{ message.name }}</p>
						<p class="messageContent">{{ message.message }}</p>
					</div>
				</div>
				<i ng-if="{ message.liked }" ng-click="likeMessage(message.message, message.name, user.id)" class="icon ion-ios-heart"></i>
				<i ng-if="{ !message.liked }" class="icon ion-ios-heart-outline"></i>
			</ion-item>
		</div>
	</ion-list>	
  </ion-content>
   <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
        <input type="text" placeholder="Send Message..." on-return="sendMessage(); closeKeyboard()" ng-model="message" on-focus="inputUp(); scroll()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="addMessage(message, name, band, userArray[0].image)">
        Send
      </button>
	</ion-footer-bar>
</ion-view>
