

<ion-view view-title="Band Chats">
  <ion-content>
    <ion-list ng-repeat="band in bandz">
        <a href="#/tab/bands/{{band.bandName}}">
        <ion-item class="animated fadeIn item item-avatar-left" >
          <ion-spinner ng-if="!bandz" icon="spiral"></ion-spinner>
  		    <img ng-show="vm.isImageVisible" ng-if="band.image" src="{{ band.image }}" imageonload>
          <p>Go To Chat</p>
          <h2 class="bandName">{{ band.bandName }}</h2>
        </ion-item>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
