
<ion-view view-title="Band Calendars">
  <ion-content>
    <ion-list>

      <ion-item class="item item-icon-right">
          <a href="#/tab/calenders/all">View All</a>
      </ion-item>

      <ion-item class="animated fadeIn item item-avatar-left item-icon-right" ng-repeat="band in bandz">
          <img ng-if="band.image" src="{{ band.image }}">
        <a href="#/tab/calenders/{{band.bandName}}">Go To Calendar</a>
        <h2>{{ band.bandName }}</h2>
        <button ng-click="openModal(band.bandName)" class="button button-icon icon right ion-ios-plus"></button>
      </ion-item>
	     
    </ion-list>
  </ion-content>
</ion-view>
