<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
	  <h1 class="title">New Contact</h1>
	  <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
	  <div class="list">
		</ion-item>
		 <label class = "item item-input item-select item-royal">
		      <div class = "input-label">
		         Event Type
		      </div>
		      <select>
		        <option>Show</option>
			    <option>Tracking Session</option>
			    <option>Mixing Session</option>
			    <option>Practice</option>
			    <option>Meeting</option>
		      </select>
   		</label>
	    <label class="item item-input">
	      <span class="input-label">Start Time</span>
	      <input ng-model="startTime" type="text">
	    </label>
	    <label class="item item-input">
	      <span class="input-label">Email</span>
	      <input ng-model="newUser.email" type="text">
	    </label>
	    <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
	  </div>
	</ion-content>
</ion-modal-view>
