<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
	  <h1 class="title">New Event: {{id}} </h1>
	  <button class="button button-clear button-cancel" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
	  <div class="list">
		 <label class ="item item-input item-select">
		      <div class= "input-label">
		      Event Type
		      </div>
		      <select ng-model="type">
		        <option selected>Show</option>
			    <option>Tracking Session</option>
			    <option>Mixing Session</option>
			    <option>Practice</option>
			    <option>Meeting</option>
			    <option>Tour</option>
		      </select>
   		</label>
	   <div class="item" ion-datetime-picker ng-model="startTimeValue">
                <i class="icon"></i>
                Start Time: 
                <strong>{{startTimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
        </div>
 	   <div class="item" ion-datetime-picker ng-model="endTimeValue">
                <i class="icon ion-icon-clock"></i>
                End Time: 
                <strong>{{endTimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
        </div>
        <label ng-show="type === 'Tour'" class="item item-input">
              <input type="text" placeholder="Tour Locations" ng-model="tourLocation">
              <span on-tap="addLocation(tourLocation)"><i class="button button-icon icon right ion-ios-plus"></i></span>
        </label>

        <label class="item item-input">
              <input type="text" placeholder="Event Name" ng-model="eventName">
          </label>


        <label class="item item-input">
            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                   ng-model="location"
                   item-value-key="name"
                   item-view-value-key="description"
                   items-method="autoFillPlaces(query)"
                   items-method-value-key="items"
                   placeholder="Search Location"
                   items-clicked-method="itemsClicked(callback)"
                   items-removed-method="itemsRemoved(callback)"
                   max-selected-items="5"/>
        </label>


	    <button class="button button-block button-outline button-positive" ng-click="createEvent(id, eventName, type, startTimeValue, endTimeValue, false, clickedValueModel.item.description, tourLocations)"><i class="ion-ios-plus icon"></i>Create Event</button>
<!-- 	            <div ng-repeat="place in tourLocations">
         			 <button ng-click="deletePlace($index)" class="button button-small button-assertive">{{ place }}  x</button>
              	</div> -->
	  </div>
	</ion-content>
</ion-modal-view>
