<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive">
	  <h1 class="title">New Event: {{id}} </h1>
	  <button class="button button-clear button-cancel" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>

	<ion-content class="padding">
  <div class="animated zoomInDown has-header event-header"> 
      <div class="dash-logo-event">
          <div>New Event</div>
    </div>
  </div>
	  <div class="list has-header">
		 <label class ="item item-input item-select">
		      <div class= "input-label">
		        Event Type
		      </div>
		      <select ng-model="newEvent.type">
		      <option selected>Show</option>
			    <option>Tracking Session</option>
			    <option>Mixing Session</option>
			    <option>Practice</option>
			    <option>Meeting</option>
			    <option>Tour</option>
		      </select>
   		</label>
	   <div class="timevaluestart item" ion-datetime-picker am-pm  ng-model="newEvent.startTimeValue">
                Start Time: 
                <strong>{{newEvent.startTimeValue| date: "yyyy-MM-dd h:mm a"}}</strong>
        </div>
 	   <div class="timevalueend item" ion-datetime-picker am-pm  ng-model="newEvent.endTimeValue">
                End Time: 
                <strong>{{newEvent.endTimeValue| date: "yyyy-MM-dd h:mm a"}}</strong>
        </div>

        <label class="item item-input">
              <input type="text" placeholder="Event Name" ng-model="newEvent.eventName">
        </label>
        
          <label ng-if="type === 'Practice'" class="item item-input">
              <input type="text" class="practice" placeholder="Practice Location" ng-model="newEvent.practice">
          </label>

        <label ng-if="type !== 'Practice'" class="item item-input">
            <input ion-autocomplete type="text" readonly="readonly" class="show ion-autocomplete" autocomplete="on"
                   ng-model="newEvent.location"
                   item-value-key="name"
                   item-view-value-key="description"
                   items-method="autoFillPlaces(query)"
                   items-method-value-key="items"
                   placeholder="Search Location"
                   items-clicked-method="itemsClicked(callback)"
                   items-removed-method="itemsRemoved(callback)"
                   max-selected-items="5"/>
        </label>
        
        <label class="item item-input item-thumbnail-left item-icon-right"><span ng-if="!loadingPic && !picLoaded">Event Image/Poster</span>
          <img ng-show="vm.isImageVisible" class="animated fadeIn" ng-if="newEvent.image" class="smallPic" src="{{ newEvent.image }}" imageonload>
              <div ng-if="loadingPic"><ion-spinner icon="spiral"></ion-spinner></div>
              <span ng-if="!loadingPic && !picLoaded" on-tap="getImage()"><i ng-click="getImage()" class="button button-icon icon right ion-ios-plus"></i></span>
              <i ng-if="!loadingPic && picLoaded" class="icon ion-checkmark-circled"></i>
        </label>

	    <button class="button button-block button-outline button-positive" ng-click="createEvent(id, newEvent.eventName, newEvent.type, newEvent.startTimeValue, newEvent.endTimeValue, newEvent.false, clickedValueModel.item.description, bandimage, newEvent.image)"><i class="ion-ios-plus icon"></i>Create Event</button>
      
	  </div>
	</ion-content>
</ion-modal-view>
