<ion-view view-title="Login" name="login-view">
  <ion-content class="has-header login-footer padding">
    <div class="animated flip log-header">Bandmates</div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
          <button class="button button-block button-positive" ng-click="login(email, password)">Login</button>
      </div>
      <button class="col col-33 col-offset-33 button button-outline button-assertive" ng-click="goToRegister()">Register  <i class="ion-ios-plus"></i></button>
  </ion-content>
 <ion-footer-bar class="bar-stable">

</ion-footer-bar>
</ion-view>
