<ion-view view-title=" {{band}} Archive">
  <ion-content class="has-header padding">
<div class="has-subheader has-header" ng-repeat="event in archivedEvents | orderBy: '-milliTime':true | filter : band">
	 <div class="card">
	   <div class="item item-text-wrap item-avatar">
	      <img src="{{event.bandImage}}">
	      <div class="archiveTitle">{{ event.title }}</div>

	</div>
	  <div class="item item-body">
	   	<div>{{event.startTime}}</div>
		<p>{{event.location}}</p>
	      <img ng-show="vm.isImageVisible" class="full-image" src="{{event.image}}" imageonLoad>
                	<div ng-hide="event.setList" class="buttonSave"><button ng-click="saveList(songNames, event.key)" class="button button-positive">Save Setlist</button>
                	</div>
                	 <div ng-hide="event.setList" class="item item-input">
		              	<input class="songAdd" type="text" placeholder="Add Song to Set List" ng-model="setList.songName">
		              	<i ng-click="addSongs(setList.songName)" class="button button-icon icon right ion-ios-plus"></i>
		          	</div>
                	<div class="listRow row">
		             	<div ng-show="event.setList">
			                <div class="listHeader">Set List:</div>
							<ul class="setList" ng-repeat="song in event.setList track by $index">
								<ion-item class="animated fadeInRight setlistItem item-borderless item-row-wrap">
									<div class="listSong">
										{{$index + 1}}. {{song}}
									</div>
								</ion-item>
							</ul>
						</div>
					</div>
						<div ng-hide="event.setList">
			                <h5 class="listHeader">Set List:</h5>
							<ion-list class="setList" ng-repeat="song in songNames track by $index">
								<ion-item class="animated fadeInRight setlistItem item-borderless item-text-wrap">
									<div class="listSong">
										{{$index + 1}}. {{song}}
									</div>
								</ion-item>
							</ion-list>
						</div>
				<h3 ng-if="event.showimages">Images</h3>
				<img ng-if="event.showimages" src="{{event.showimages}}">
				</div>
			</div>
	</ion-content>
</ion-view>
