<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Register/Join Band</h1>
    <button class="button button-clear button-cancel" ng-click="closeModal(1)">Cancel</button>
  </ion-header-bar>

      <!-- REG VIEW -->
    
  <div ng-show="registerView">

  	<ion-content class="padding has-header">
       <div class="log-header">Bandmates</div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Band/Artist Name" ng-model="bandName">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="password2">
            </label>
            <label class="item item-input item-icon-right">
              <input type="text" placeholder="Add Band Photo" ng-model="image">
              <img ng-if="image" src="image">
              <span on-tap="getImage()"><i ng-click="getImage()" class="button button-icon icon right ion-ios-plus"></i></span>
            </label>
        </div>

        <button ng-disabled="!bandName || !password || !password2" class="button button-block button-positive" ng-click="registerBand(bandName, password, user.uid, image, userArray[0].firstName, userArray[0].lastName)">Register</button>

       <button class="button button-outline col col-50 button-assertive" ng-click="toggleRegister()"><i class="button button-icon icon left ion-ios-arrow-back"></i>  Join Band</button>
     </ion-content>

    </div>

    <!-- JOIN VIEW -->

    <div ng-show="!registerView">

     <ion-content class="padding has-header">
      <div class="log-header">Bandmates</div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Band/Artist Name" ng-model="bandNameSearch">
 <!--                 <label class ="item item-input item-select">
                    <div class= "input-label">
                    Event Type
                    </div>
                    <select ng-model="bandNameSearch">
                    <option ng-repeat="band"></option>
                    </select>
                </label> -->
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="passwordSearch">
            </label>
        </div>

        <button ng-disabled="!bandNameSearch || !passwordSearch" class="button button-block button-assertive" ng-click="registerBand(bandNameSearch, passwordSearch, user.uid)">Join Band</button>

        <button class="button col-offset-50 col col-50 button-outline button-positive" ng-click="toggleRegister()">Register Band <i class="button button-icon icon left ion-ios-arrow-forward"></i></button>

      </ion-content>

    </div>

</ion-modal-view>
