<ion-view view-title="Register" name="register-view">
	<ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="firstName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="lastName">
          </label>
          <label class="item item-input">
              <!-- <img> -->
              <button ng-click="getImage()" class="button button-danger">Find Image</button>
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="register(email, password, image, firstName, lastName)">Register</button>
  </ion-content>
</ion-view>
