<ion-view view-title="Register" name="register-view">
	<ion-content class="padding">
   <div class="log-header">Bandmates</div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
           <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="firstName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="lastName">
          </label>
          <label class="item item-input item-icon-right">
              <input type="text" placeholder="Image Address" ng-model="image">
                <i ng-click="getImage()" class="button button-icon icon right ion-ios-plus"></i><br><br>
          </label>
      </div>
      <button ng-disabled="emal && password && firstName && lastName" class="button button-block button-outline button-balanced" ng-click="register(email, password, image, firstName, lastName)">Register</button>
  </ion-content>
</ion-view>
