<ion-view view-title="Register" name="register-view">
	<ion-content class="has-header padding">
   <div class="log-header">Bandmates</div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="firstName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="lastName">
          </label>
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
            <label class="item item-input item-avatar-left item-icon-right"><span ng-if="!loadingPic && !picLoaded">Upload Profile Image</span>
              <img ng-show="vm.isImageVisible" class="animated fadeIn" ng-if="image" class="smallPic" src="{{ image }}" imageonload>
              <div ng-if="loadingPic"><ion-spinner icon="spiral"></ion-spinner></div>
              <span ng-if="!loadingPic && !picLoaded" on-tap="getImage()"><i ng-click="getImage()" class="button button-icon icon right ion-ios-plus"></i></span>
              <i ng-if="!loadingPic && picLoaded" class="icon ion-checkmark-circled"></i>
            </label>
      </div>
      <button ng-disabled="!email || !password || !firstName || !lastName" class="button button-block button-outline button-assertive" ng-click="register(email, password, image, firstName, lastName)">Register</button>
        <button class="button button-outline button-positive" ng-click="goToLogin()"><i class="button button-icon icon left ion-ios-arrow-back"></i>  Back To Login</button>
  </ion-content>
</ion-view>
