<ion-view view-title="Home">
    <div class="bar bar-subheader bar-header">
         <div class="row">  
           <h3 class="col-xs-offset-1 assertive main-logo">{{user.email.slice(0, user.email.indexOf('@'))}}'s Upcoming Events</h3>
<!--             <div class="col-xs-offset-2 col-xs-2">
                <img ng-if="user" class="main-pic" src="{{ userArray[0].image }}">
        
            </div> -->
        </div>
    </div>
  <ion-content class="has-subheader">
		<ion-list class="eventDash">
			<ion-item ng-repeat="event in events | orderBy : event.startTime" class="animated fadeInLeft main-items">
        <ion-spinner ng-if="!event.bandName" icon="spiral"></ion-spinner>
				<h4>{{event.title.slice(0, event.title.indexOf(':'))}}</h4>
	    		<p>{{event.bandName}}</p>
          <p>{{(event.startTime(}}</p>
    	    	<ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(event, $fromIndex, $toIndex)">
        		</ion-reorder-button>
			</ion-item>
		</ion-list>	
  </ion-content>
</ion-view>
