<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="container">
    	<h2 class="assertive main-logo">Bandmates</h2>
    	<div class="row">
    		<img ng-if="user" class="main-pic" src="{{ userArray[0].image }}">
    		<a ng-if="!user" ng-click="getImage()" href="#" class="icon ion-android-camera"></a>
	    <h3 class="energized col-xs-6 col-xs-offset-2">Greetings {{ userArray[0].firstName }}!</h3>
    	</div>
    	<!-- ng=repeat item in items (event items) -->
		<ion-list  show-reorder="true">
			<ion-item ng-repeat="event in events" class="main-items">
				<h4>{{event.title.slice(0, event.title.indexOf(':'))}}</h4>
	    		<p>{{event.bandName}}</p>
	    		<p>{{event.startTime}}</p>
	    	<ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(event, $fromIndex, $toIndex)">
    		</ion-reorder-button>
			</ion-item>
		</ion-list>	
    </div>
  </ion-content>
</ion-view>
