<ion-nav-bar class="bar-stable bar-assertive">
  <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">      
      <button class="button button-icon ion-ios-plus" ng-click="openModal(1)"></button>
      <button ng-if="!userArray[0].image" class="button button-icon button-clear ion-ios-person" ng-click="openModal(2)"></button>
      <i ng-if="userArray[0].image" class="icon-button" ng-click="openModal(2)"><img class="smallPic" src="{{userArray[0].image}}" ng-show="vm.isImageVisible" imageonLoad></i>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top">

  <ion-tab class="tabcolor" title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab class="tabcolor" title="Messageboards" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/bands">
    <ion-nav-view name="tab-messageboards"></ion-nav-view>
  </ion-tab>


  <ion-tab  class="tabcolor" title="Calenders" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calenders">
    <ion-nav-view name="tab-calenders"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tabcolor" title="Musical Notes" icon-off="ion-ios-musical-note" icon-on="ion-ios-musical-notes" href="#/tab/musical-notes">
    <ion-nav-view name="tab-music"></ion-nav-view>
  </ion-tab>

</ion-tabs>
