<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <ion-tab class="tabcolor" title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab class="tabcolor" title="Messageboards" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/bands">
    <ion-nav-view name="tab-messageboards"></ion-nav-view>
  </ion-tab>


  <ion-tab  class="tabcolor"title="Calenders" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calenders">
    <ion-nav-view name="tab-calenders"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tabcolor" title="Settings" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
